@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
        *{
            padding:0px;
            margin:0px;
            font-family:'Montserrat', sans-serif;
        }

        /*Declaração paisagem*/
        @media screen and (orientation: landscape){
            body{
                background-image: url(../../imagens/cev-landscape.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position:left bottom;
            }
        } 

        /*Declaração retrato*/
        @media screen and (orientation: portrait){
            body{
                background-image:url(../../imagens/cev-portrait.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position:center bottom;
            }
        }